@import 'main.css';
@import 'userForms.css';

.bg-img-container {
    background: url('https://images.unsplash.com/photo-1567620905732-2d1ec7ab7445?q=80&w=1980&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
}

.heading-title {
    color: var(--accent-color);
    text-transform: capitalize;
    font-weight: 900;
}

#form1 {
    /* border: 2px solid blue; */
    padding: 2rem 1.75rem;
    min-width: 444px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.input-fields {
    /*margin-top: 10px;*/
    /*margin-bottom: 20px;*/
}

/*.calendar table {
    display: none;
}

.calendar .ajax__calendar_day {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
}*/

.gender-radio-container {
    /* border: 2px solid red; */
    display: inline-flex;
    gap: 40px;
    margin-left: 40px;
}

.gender {
    display: flex;
    gap: 10px;
}

.customer-reg-btn {
    margin-bottom: 0;
}

.error-txt {
    color: lightcoral;
    display: inline-block;
    margin-bottom: 10px;
}

.error-txt ul > li::marker {
    content: "> ";
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    #form1 {
        min-width: none;
        box-shadow: none;
    }

    .heading {
        margin-bottom: 1rem;
    }
}