@import 'main.css';
@import 'userForms.css';

.bg-img-container {
    background: url('https://images.unsplash.com/photo-1634141613544-001d33883517?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center;
}

#Form1 {
    /* border: 2px solid blue; */
    padding: 2rem 1.75rem;
    min-width: 444px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.input-fields {
    margin-top: 5px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    #Form1 {
        /* border: 2px solid blue; */
        min-width: none;
        box-shadow: none;
    }

}